@font-face {
    font-family: 'Olietta script BoldItalic';
    font-style: italic;
    font-weight: 700;
    src: local('Olietta script BoldItalic'), local('Oliettascript-Bold Italic'),
        url(http://allfont.ru/cache/fonts/olietta-script-bolditalic_3b96ae774d2110ff871ceb951d162315.woff) format('woff'),
        url(http://allfont.ru/cache/fonts/olietta-script-bolditalic_3b96ae774d2110ff871ceb951d162315.ttf) format('truetype');
}

.wp-block.default { 
border: 1px solid; 
border-color: white; 
}
center {
    display: block;
    text-align: -webkit-center;
   color: white;
font-size: 35px;
font-family: 'Olietta script BoldItalic';
text-shadow: 3px 3px 3px #aaa;
}
.info-list {
    min-height: 26px;
    margin-bottom: 10px;
    padding-left: 10px;
    overflow: hidden;
    background-color: rgba(0,0,0,0) !important;
}
p { line-height: 25px; margin-bottom: 8px; color: white; }
a {
    color: #eee;
    cursor: pointer;
}
.comment-list .comment-count {
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 500;
    color: #eee;
}
.redactor-toolbar {
    position: relative;
    top: 0;
    left: 0;
    margin: 0 !important;
    padding: 0 !important;
    list-style: none !important;
    font-size: 14px !important;
    line-height: 1 !important;
    background: rgba(0,0,0,0);
    border: none;
    box-shadow: none;
}
.redactor-toolbar li a {
    display: block;
    color: #eee;
    text-align: center;
    padding: 9px 10px;
    outline: none;
    border: none;
    text-decoration: none;
    cursor: pointer;
    zoom: 1;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
.wp-block.default > .wp-block-body h2 {
    color: #eee !important;
}
.panel-default > .panel-heading + .panel-collapse > .panel-body {
    background: none;
}
.body-bg-8 {
    background: url(http://rp.gs-studio.xyz/img/dalaran/bg_top.png), url(http://rp.gs-studio.xyz/img/dalaran/bg_bottom.png), url(http://rp.gs-studio.xyz/img/dalaran/bg_center.png);
    background-size: 256px;
    background-repeat: repeat-x, repeat-x, repeat;
    background-position: center top, center bottom, center top;
}
.sidebar .wp-block, .row .col-md-12 > .wp-block, .bg-white, .redactor-editor, .redactor-box {
    background: url(http://rp.gs-studio.xyz/img/dalaran/bg_text.png) !important;
    box-shadow: inset 1px 1px 5px 2px rgba(0,0,0,.5) !important;
    border: 1px solid #2a1d13 !important;
    letter-spacing: 1px;
    text-shadow: 0 3px 3px rgba(0,0,0,.8);
}
.img-center, .bg-dark {
    opacity: 0.3;
}
.img-center {
    filter: hue-rotate(200deg) drop-shadow(16px 16px 20px black);
    -webkit-transition: .3s ease-in-out !important;
    transition: .3s ease-in-out !important;
}
.img-center:hover, .bg-dark:hover {
    opacity: 0.7;
}
.figure .wp-block {
    background: none;
    box-shadow: none !important;
}
.col-md-12 .article-title, .info-list, .comment-list .comment-count, .section-title a, .footer .copyright {
    background: none !important;
    letter-spacing: 1px !important;;
    text-shadow: 0 3px 3px rgba(0,0,0,.8) !important;;
}
.sidebar {
    padding: 15px;
}
.wrapper-main .bg-dark {
    display: none;
}
.bg-base-img, .sidebar, .footer {
    background: url(http://rp.gs-studio.xyz/img/dalaran/bg_text1.png) !important;
    box-shadow: 1px 1px 5px 2px rgba(0,0,0,.7);
	1px 1px 5px 2px rgba(0,0,0,.7) !important
}
.figure .calendar {
    border-color: black;
    box-shadow: 1px 1px 5px 2px rgba(0,0,0,.7) !important;
}
.fc-unthemed .fc-today {
    background: url(http://rp.gs-studio.xyz/img/dalaran/call_bg.png);
    background-size: cover;
    filter: contrast(5);
    -webkit-transition: .3s ease-in-out !important;
    transition: .3s ease-in-out !important;
}
.fc-unthemed .fc-today:hover {
    filter: contrast(15);
}
.fc-unthemed .fc-divider, .fc-unthemed .fc-popover, .fc-unthemed .fc-row, .fc-unthemed tbody, .fc-unthemed td, .fc-unthemed th, .fc-unthemed thead {
    border-color: black;
    color: white;
}
.wp-block-body .col-md-8 {
    width: 100% !important;
}
.panel-default {
    background: rgba(0,0,0,0.5);
}
.wp-block.article.post .meta-info span strong, .text-chrome, .meta-info a, .comment-author .comment-meta, .comment-footer .comment-meta .link-reply, .redactor-editor, a:hover, .content .info-list .item {
    color: #fff !important;
}
.text-red-mid {
    color: #D761FF;
}
.make_minus .fa, .make_plus .fa, .like-num {
    color: #D761FF !important;
}
.badge {
    background: rgba(0,0,0,0.4) !important;
}
footer .copyright {
    color: white;
}

.article-image .avatar-lg {
    -webkit-transition: .3s ease-in-out !important;
    transition: .3s ease-in-out !important;
    box-shadow: 1px 1px 5px 2px rgba(0,0,0,.7);
    filter: drop-shadow(12px 12px 20px black) contrast(110%);
}

.article-image .avatar-lg:hover {
    box-shadow: 1px 1px 5px 2px rgba(0,0,0,.9);
    filter: drop-shadow(16px 16px 20px black) contrast(130%);
}
.btn-green {
    background: url(http://rp.gs-studio.xyz/img/dalaran/bg_text1.png) !important;
    border: 1px solid rgba(0,0,0,0.6);
}

.btn-green:before {
    background-color: rgba(0,0,0,0.6);
}
.btn-green:hover {
    border-color: black;
}
.information-block .col-md-12 > center {
    display: none;
}
.information-block .col-md-12 .testimonial {
    box-shadow: none !important;
    border: none !important;
    background: none !important;
}
