.body-bg-8 { background: url("http://on-desktop.com/wps/Drawn_wallpapers___Paintings_Aivazovsky_painting_Sinop._Night_after_the_fight_November_18__1853_094452_.jpg") no-repeat fixed; background-size: cover; }
.content { 
	border-style: none; 
} 
.sidebar .wp-block.default {
    background: none;
}
.testimonial .wp-block-body .col-md-8 {
    width: 100%;
}
.wp-block.article.post .meta-info span strong {
    color: rgba(255,255,255,0.9);
}
.content .post .testimonial { 
	background: rgba(0, 0, 0, 0.0)!important; 
} 
.content .post, .sidebar, .redactor-editor, .redactor-box, .footer { 
	background: rgba(0, 0, 0, 0.2); 
    color: white;
} 
a, .comment-list .comment-count {color:white;}
.content.bg-base-img { 
	background: rgba(0, 0, 0, 0.0); 
} 
.content .post .wp-block { 
	background: rgba(0, 0, 0, 0.7); 
} 
.wp-block-body { 
	color: #ffffff;
	text-shadow: black 1px 0px, black 1px 1px, black 0px 1px, black -1px 1px, black -1px 0px, black -1px -1px, black 0px -1px, black 1px -1px; 
} 
.redactor-toolbar {
    background: rgba(255,255,255,0.8);
}
.shadow-5 { 
	box-shadow: 0px 0px 0px 1px #77138b!important; 
} 
.block-title { 
	color: #c531e3;
	text-align: center; 
} 
.make_plus .fa, .make_minus .fa {
    color: #c531e3 !important;
}
.info-list { 
	background: none !important; 
} 
.col-sm-4 { 
	font-size: 35;
	color: #c531e3;
	text-shadow: black 1px 0px, black 1px 1px, black 0px 1px, black -1px 1px, black -1px 0px, black -1px -1px, black 0px -1px, black 1px -1px; 
} 
.col-sm-8 {
	font-size: 35;
	color: #EEBE00; 
	text-shadow: black 1px 0px, black 1px 1px, black 0px 1px, black -1px 1px, black -1px 0px, black -1px -1px, black 0px -1px, black 1px -1px; 
} 
.wp-block.article.post .article-title { 
	font-size: 35px; 
	color: #c531e3; 
} 
.wp-block.default, .sidebar, .redactor-box, .footer { 
	border: 2px solid; 
	border-color:#77138b; 
} 
.content .info-list .row { 
	background: rgba(0, 0, 0, 0.0); 
} 

.bg-white { 
	background: rgba(0, 0, 0, 0.7)!important; 
} 
.bg-base-img { 
	background: rgba(0, 0, 0, 0.0); 
} 
.comment-text { 
	color: #ffffff; 
	text-shadow: black 1px 0px, black 1px 1px, black 0px 1px, black -1px 1px, black -1px 0px, black -1px -1px, black 0px -1px, black 1px -1px; 
}
